
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.maintanance-title {
  color: white;
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.maintanance-description {
  text-align: center;
  color: white;
}

.img-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fesports-logo {
  width: 200px;
}

.fesports-credits {
  width: 18%;
  height: 18%;
  align-self: center;
}